canvas {
	border-width: 2px;
	border-style: solid;
	padding: 0px;
	margin: 0px;
	display: grid;
	border-color: black;
}

div {
	display: inline-block;
}

body {
	background: radial-gradient(#919592, #404240);
	text-align: center;
	color: #b8b7bd;
}

.attribute {
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}

button {
	margin-bottom: 5px;
}

hr {
	margin: 20px;
	height: 5px;
	border: none;
	background: #b8b7bd;
}

span * {
	margin: 3px;
}
